@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
  overflow: hidden;
}

.bhdLno {
  max-width: 92vh !important;
  max-height: 92vh !important;
  transform: rotate(-45deg);
}
